<div id="outercontainer">
    <div id="headercontainer">
        <div style="margin-left:8px;float:left">Protracker module player for Web Audio</div>
        <div style="margin-right:8px;float:right">(c) 2012-2014 Firehawk/<a class="tdalink" href="http://tda.haxor.fi/" target="_blank">TDA</a></div>
        <div style="clear:both;"></div>
    </div>
    <div id="innercontainer">
        <div id="modsamples">
            <br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/>
        </div>
        <div style="position:relative;top:8px;margin-bottom:8px;">
            <span id="modtitle"></span>
            <span id="modinfo"></span>
            <span id="modtimer"></span>
            <br/><br/>
            <a class="inactive" href="#" id="prev_track">[|&lt;]</a>
            <a href="#" id="go_back">[&lt;&lt;]</a>
            <a href="#" id="play">[play]</a>
            <a href="#" id="pause">[pause]</a>
            <a href="#" id="go_fwd">[&gt;&gt;]</a>
            <a class="inactive" href="#" id="next_track">[&gt;|]</a>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a href="#" title="Repeat song" id="modrepeat">[rept]</a>
            <a class="down" title="Stereo separation" href="#" id="modpaula">[)oo(]</a>
            <a class="down" title="Amiga clock" href="#" id="modclock">[&nbsp;PAL]</a>
            <a class="down" title="Amiga model A500 or A1200" href="#" id="modamiga">[A500]</a>
            <a href="#" id="load_song">[load song]</a>
        </div>
        <div id="modpattern"></div>
        <div style="clear:both"></div>
        <div id="infotext">
            Note that this is somewhat experimental and is tested on Chrome 14+, Firefox 24+ and Safari 6+ so far. <br/><span style="color:#faa">Disable AdBlock if you get cuts or stuttering!</span>
        </div>
    </div>

    <div style="display:none;" id="loadercontainer">
        <div id="musiclibrary">
            <br/>music_library&gt;<br/><br/>
            <select size="24" id="modfile">
                {{#each modFiles}}
                <optgroup class="{{#if_even @index}}even{{else}}odd{{/if_even}}" label="{{@key}}">
                    {{#each this}}
                    <option class="{{#if_even @index}}even{{else}}odd{{/if_even}}" value="{{this.path}}">
                        {{@key}} 
                        <span class="filesize">({{this.size}} bytes)</span>
                    </option>
                    {{/each}}
                </optgroup>
                {{/each}}
            </select>
            <div style="clear:left;"></div>
            <div style="margin-left: 24px;">
              <a href="#" id="load_cancel">[&lt; back]</a>&nbsp;
              <a href="#" id="load">[load song]</a>&nbsp;
              <a href="#" id="add_playlist">[add +&gt;]</a>
            </div>
        </div>

        <div id="playlist">
        <br/>playlist&gt;<br/><br/>
        <select size="24" id="playlist_box">
        </select>
            <div style="clear:right;"></div>
            <div style="margin-left: 24px;">
                <a href="#" id="playlist_up">[^^]</a>&nbsp;
                <a href="#" id="playlist_dn">[vv]</a>&nbsp;
                <a href="#" id="playlist_remove">[remove]</a>&nbsp;
                <a href="#" id="playlist_clear">[clear]</a>&nbsp;
                <a href="#" id="playlist_jumpto">[play song]</a>
            </div>
        </div>

        <div style="clear:both"></div>
    </div>
</div>
